*{
    box-sizing: border-box;
}

html{
    font-size: 14px;
    font-family: 'Arial', Arial, serif;
    background-color : grey;
}

a{
    color: black;
    /*font-size: 8px;*/
    font-weight: bold;
    text-align: left;
    text-decoration: none;
}

.container{
    margin: 20px;
    padding: 20px;
}

.forum{
    margin-top: 10px;
}

.forumRow{
    display: grid;
    grid-template-columns: 20% 60% 20%;
}

.forumColumn{
    padding: 10px;
    margin: 4px;
    border-radius: 5px;
    background-color: white;
}


.title{
    color : orange;
    font-family: 'Impact', Impact, serif;
    /*font-size: 72px;*/
    text-align: center;
    text-decoration: none;
    -webkit-text-stroke: 1px black;
}

.subtitle{
    color : white;
    font-family: 'Arial', Arial, serif;
    font-size: 24px;
    text-align: center;
    text-shadow: 3px 3px black;
    -webkit-text-stroke: 1px black;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 460px) {

    /* veci do mobilu */
    .container{
        margin: 10px;
    }

}

@media screen and (min-width: 460px) and (max-width: 1024px) {

    /* veci do tabletu */

}