*{
    box-sizing: border-box;
    background-color : grey;
}

a{
    color: black;
    font-family: 'Calibri', Arial, serif;
    font-size: 8px;
    text-align: left;
}

.subforum{
    margin-top: 10px;
}

.container{
    margin: 20px;
    padding: 20px;
}

.title{
    color : orange;
    font-family: 'Impact', Impact, serif;
    /*font-size: 72px;*/
    text-align: center;
    text-decoration: none;
    -webkit-text-stroke: 1px black;
}

.subtitle{
    color : white;
    font-family: 'Arial', Arial, serif;
    font-size: 24px;
    text-align: center;
    text-shadow: 3px 3px black;
    -webkit-text-stroke: 1px black;
}

.link{
    color : white;
    font-family: 'Arial', Arial, serif;
    text-decoration: none;
}



@media screen and (max-width: 460px) {

    /* veci do mobilu */

}

@media screen and (min-width: 460px) and (max-width: 1024px) {

    /* veci do tabletu */

}